# .NET Core build folders
bin/
obj/

# Visual Studio files
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# macOS specific files
.DS_Store
._*

# VS Code settings
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json